<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - aptechvision</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/aptechvision.styles.css" asp-append-version="true" />
            <link href="~/css/style.css" rel="stylesheet" />
          <link href="~/css/style.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">



</head>
<body>
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h2 class="m-0 text-secondary"><span class="text-primary">Bright Inn</span></h2>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a class="nav-item nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-item nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        <a class="nav-item nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a>
                        <a class="nav-item nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OrderNow">Order Now</a>


                        @if (User.Identity.IsAuthenticated)
                        {
@*                             <a class="nav-item nav-link text-dark" asp-area="" asp-controller="Account" asp-action="MyAccount">My Account</a>
 *@                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-link nav-item nav-link text-dark" style="outline: none; box-shadow: none;">Logout</button>
                            </form>
                        }
                        else
                        {
                            <a class="nav-item nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            <a class="nav-item nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        }
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->



   
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <a href="https://api.whatsapp.com/send?phone=+923180282738&text=Hi%20dhodey%2C%20I'd%20like%20to%20chat!" class="float" target="_blank">
        <i class="fab fa-whatsapp my-float"></i>
    </a>
    <style>
        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #25d366; /* Green color */
            color: #FFF;
            border-radius: 50px;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            text-align: center;
            line-height: 60px; /* Aligns icon vertically in the center */
            transition: all 0.2s ease-in-out;
            z-index: 100;
        }

            .float:hover {
                background-color: #1da14b; /* Darker green on hover */
            }

        .my-float {
            margin-top: 16px;
            color: white; /* Set icon color to white */
        }
    </style>
    <!-- Footer Start -->
    <div class="container-fluid bg-primary text-white mt-5 pt-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href=""><h1 class="text-secondary mb-3"><span class="text-white">Laundry</span></h1></a>
                <p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sit no, sed kasd et ipsum dolor duo dolor</p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white mb-4">Get In Touch</h4>
                <p>Dolor clita stet nonumy clita diam vero, et et ipsum diam labore</p>
                <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white mb-4">Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Services</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Pricing</a>
                    <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-white mb-4">Newsletter</h4>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control border-0" placeholder="Your Name" required="required" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control border-0" placeholder="Your Email" required="required" />
                    </div>
                    <div>
                        <button class="btn btn-lg btn-secondary btn-block border-0" type="submit">Submit Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer End -->
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("Scripts", required: false)

</body>
</html>
